@model JMS.ViewModels.LoginViewModel
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_LoginLayout.cshtml";
}

<div id="loginCard" class="card card-outline card-primary">
    <div class="card-body">
        <p class="login-box-msg">User Login</p>
        @using (Html.BeginForm("Index", "Login", FormMethod.Post, new { id = "loginForm" }))
        {
            <div class="input-group mb-3">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Email", autocomplete = "off" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="input-group mb-3">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control", @placeholder = "Password" })
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-lock"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                </div>
                <div class="col-4">
                    <button type="reset" class="btn btn-warning btn-block">Clear</button>
                </div>
                <!-- /.col -->
                <div class="col-4">
                    <button type="submit" class="btn btn-primary btn-block">Login</button>
                </div>
                <!-- /.col -->
            </div>
        }
    </div>
    <!-- /.card-body -->
    @Scripts.Render("~/Content/login")
</div>