<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="encryptedString" value="0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ"/>
	</appSettings>
	<configSections>
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	</configSections>
	<connectionStrings>
		
		<!--Sachin conn string-->
		<!--<add name="JMSEntities" connectionString="metadata=res://*/JmsDb.csdl|res://*/JmsDb.ssdl|res://*/JmsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=LAPTOP-TRBPMFVD\SQLEXPRESS;initial catalog=JMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

		<!--Chethan conn string-->
		<!--<add name="JMSEntities" connectionString="metadata=res://*/JmsDb.csdl|res://*/JmsDb.ssdl|res://*/JmsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=DESKTOP-QV65CD5\SQLEXPRESS;initial catalog=JMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->

		<!--Soma conn string-->
		<!--<add name="JMSEntities" connectionString="metadata=res://*/JmsDb.csdl|res://*/JmsDb.ssdl|res://*/JmsDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=NIS-PC0075\SQLEXPRESS;initial catalog=JMS;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
	
	</connectionStrings>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
<Version>2.0.0.0</Version>
</configuration>


 <!--JMS Version=2.0.0.0 Date - 21/08/2023-->